<!-- templates/base.html -->
 {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Admin Dashboard | AcademicHub{% endblock %}</title>

    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    
    <!-- Tailwind & Remix Icon -->
    <script src="https://cdn.tailwindcss.com/3.4.16"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#4f46e5',
                        secondary: '#10b981',
                    },
                    borderRadius: {
                        'button': '8px',
                    }
                }
            }
        }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
        rel="stylesheet" />

    <!-- Custom Styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body class="font-['Inter'] bg-gray-50">
    <div class="flex h-screen bg-gray-50">
        {% include 'admin/side-bar/sidebar.html' %}

        <div class="flex-1 md:ml-64">
            {% include 'admin/top-bar/topbar.html' %}
            <main class="p-4">
                {% block content %}
                
                
                <!-- Page-specific content -->
                {% endblock %}
            </main>
        </div>
    </div>
</body>

</html>